<h1>Search Results</h1>



<p>Your search results for <%= @search_terms %> return <%= pluralize(@pokemons.size, 'result') %>.</p>
<ul>
<% @pokemons.each do |pokemon| %>
  <li><%= link_to pokemon.name, pokemon %></li>
<% end %>
</ul>